flows/Account_Contract_End_Date_Email_Reminder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACTION_REQUIRED_Contract_End_Date_Approaching_Action_1</name>
        <label>ACTION REQUIRED: Contract End Date Approaching Action 1</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Account.ACTION_REQUIRED_Contract_End_Date_Approaching</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.ACTION_REQUIRED_Contract_End_Date_Approaching</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Contract_End_Days</name>
        <label>Check Contract End Days</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Days</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>record.Contract_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Check180daysfromtoday</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record.Contract_End_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Check90daysfromtoday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACTION_REQUIRED_Contract_End_Date_Approaching_Action_1</targetReference>
            </connector>
            <label>Check Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Check180daysfromtoday</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 180</expression>
    </formulas>
    <formulas>
        <name>Check90daysfromtoday</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <interviewLabel>Account Contract End Date Email Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Contract End Date Email Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Contract_End_Days</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canada Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>East Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Central Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>West Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_End_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
