flows/Opportunity_Stage_Update_Verbal_Contract.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Oppty_Stage_Verbal_Alert_AMs_not_CA</name>
        <label>Oppty Stage Verbal Alert AMs not CA</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <actionName>Opportunity.Oppty_Stage_Verbal_Alert_AMs_not_CA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Oppty_Stage_Verbal_Alert_Ops</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Oppty_Stage_Verbal_Alert_AMs_not_CA</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Oppty_Stage_Verbal_Alert_Ops</name>
        <label>Oppty Stage Verbal Alert Ops</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <actionName>Opportunity.Oppty_Stage_Verbal_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Oppty_Stage_Verbal_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Oppty_Stage_Verbal_Alert_AMs_not_CA</name>
        <label>Oppty Stage Verbal Alert AMs not CA</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <actionName>Opportunity.Oppty_Stage_Verbal_Alert_AMs_not_CA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Oppty_Stage_Verbal_Alert_AMs_not_CA</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Oppty_Stage_Verbal_Alert_Ops</name>
        <label>Oppty Stage Verbal Alert Ops</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <actionName>Opportunity.Oppty_Stage_Verbal_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Oppty_Stage_Verbal_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Stage_Updated_To</name>
        <label>Stage Updated To</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VOC_Verbal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>verbal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Verbal_Award_and_Verbal_Award_Date</targetReference>
            </connector>
            <label>VOC Verbal</label>
        </rules>
        <rules>
            <name>Contract_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>contract</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date_Contract_Sent_to_Prospect</targetReference>
            </connector>
            <label>Contract Out</label>
        </rules>
    </decisions>
    <decisions>
        <name>Targeted_AM_or_Ops_are_Blank</name>
        <label>Targeted AM or Ops are Blank</label>
        <locationX>446</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Targeted_Account_Manager__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Targeted_Ops_Owner__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Oppty_Stage_Verbal_Alert_AMs_not_CA</targetReference>
            </connector>
            <label>Both Blank</label>
        </rules>
        <rules>
            <name>Targeted_Acct_Mgr_Not_CA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Targeted_Account_Manager__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppty_Stage_Verbal_Alert_AMs_not_CA</targetReference>
            </connector>
            <label>Targeted Acct Mgr Not CA</label>
        </rules>
        <rules>
            <name>Targeted_Ops_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Targeted_Ops_Owner__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppty_Stage_Verbal_Alert_Ops</targetReference>
            </connector>
            <label>Targeted Ops Owner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opportunity: Stage Update - Verbal &amp; Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity: Stage Update - Verbal &amp; Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Date_Contract_Sent_to_Prospect</name>
        <label>Update Date Contract Sent to Prospect</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Targeted_AM_or_Ops_are_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Contract_Sent_to_Prospect__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Verbal_Award_and_Verbal_Award_Date</name>
        <label>Update Verbal Award and Verbal Award Date</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Targeted_AM_or_Ops_are_Blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Verbal_Award_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verbal_Award__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stage_Updated_To</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>COPY_Opportunity_Record_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>business</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
